<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/mainPage.css" type="text/css" />
{#    <link rel="stylesheet" href="{{ theme_url }}/css/droidsans.css" type="text/css" />#}
{#    <link rel="stylesheet" href="{{ theme_url }}/css/fontello.css" type="text/css" />#}

    <script src="{{ theme_url }}/js/descpages.js" type="text/javascript"></script>
    
</head>

<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %} style=background-image:url({{base_url}}/assets/mainBack.jpg)>
{#<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %} style=background-image:url(assets/mainBack.jpg)>#}

<h1>USING {{ meta.PageType }}</h1>

    <div id="mainframe">
        <div id="main">
{#            <div class="container">#}
{#                <img src="{{base_url}}/assets/{{meta.AssetName}}" width="100%" height="100%" style="border: none;"/>#}
{#                <p>{{ content }}</p>#}
{#            </div>#}
    {% for page in pages if page.meta.parrent == meta.parrent and page.meta.desc %} 
        {% if page.meta.type == 'text' %}
            <div class="container">
                <p>{{ page.id|content }}</p>
            </div>
        {% elseif page.meta.type == 'frame' %}
            <div class="container">
                <iframe src="{{base_url}}/assets/{{page.meta.assetname}}" width="100%" height="100%" style="border: none;">
                </iframe>
            </div>
        {% else %} {# page.meta.type == 'textframe' #}
            <p>maaan you probs gonna die</p>
        {% endif %}
        
        <br>
    {% endfor %}
        </div>
    </div>
    
    <script src="{{ theme_url }}/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/utils.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/pico.js" type="text/javascript"></script>

</body>
</html>
