<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

{#    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />#}
    <link rel="stylesheet" href="{{ theme_url }}/css/navPage.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/droidsans.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/fontello.css" type="text/css" />
    
    <link rel="stylesheet" href="{{ theme_url }}/css/all.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/mapgal.css" type="text/css" />

    <script src="{{ theme_url }}/js/cards.js" ></script>
</head>
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %} style=background-image:url({{base_url}}/assets/background.jpg)>
{#<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>#}


    
    <div class="fullscreen">
        
    <div class="navitem title">
        <div class="hmiddle">
            <p>{{ meta.title|split('|')|join(' ') }}</p>
        </div>
    </div>
        
    {% set currentpath = current_page.id|split('/') %}
    {% for page in pages if page.meta.parrent == meta.parrent and page.meta.nav %} {# make sure the index the index page has the same parrent as the rest #}
   
        
        <div class="navitem content" >
            <div class="title-img" style="background-image:url({{base_url}}/assets/skice-1-20.png);"></div>
            <form method="post" action="" id="formCreatePage" enctype="multipart/form-data">
                <input type="submit" name="addPage" value='Add Desc Page'>
            </form>
            
            <form method="post" action="" id="formCreateNav" enctype="multipart/form-data">
                <input type="submit" name="addNav" value='Add Nav Item'>
            </form>
            
            <form method="post" action="" id="formDeleteItem" enctype="multipart/form-data">
                <input type="submit" name="deleteItem" value='Delete this'>
            </form>
            
            
            
            {% if page.meta.haschild == 'true'%}
                <a href="{{ page.meta.parrent ~ '/descPage_' ~ page.url|split('_')[1] ~ '_' }}"> {# sort of a hacky url... i'm impressed #}
                    welcome alibaba
            {% else %}
                <a href="{{ page.url|split('_')|join('') }}"> {# sort of a hacky url... i'm impressed #}
                    begone pesant!
            {% endif %}
            
                <div class="hmiddle">
                    <p>{{page.meta.subtitle ~ ' | ' ~ page.id|split('/')|last}}</p>
                    <button class="buttonFwd">Lasīt vairāk <img src="{{base_url}}/assets/blt-21.png" style="height: 20px; width: 10px; margin-left: 10px; margin-bottom: -2px;"></button>
                </div>
            </a>
        </div>
    {% endfor %}
    
        {#
        <div class="navitem" >
            <div class="title-img" style="background-image:url({{base_url}}/assets/skice-1-20.png);"></div>
            <div class="hmiddle">
                <button class="buttonFwd">Lasīt vairāk <img src="{{base_url}}/assets/blt-21.png" style="height: 20px; width: 10px; margin-left: 10px; margin-bottom: -2px;"></button>
            </div>
        </div>#}
    </div>

        
    <script src="{{ theme_url }}/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/utils.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/pico.js" type="text/javascript"></script>

    {{ content_editor }}
</body>
</html>
