<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style>
        .back{
            height: 95px;
            width: 95px;
            left: 75px;
            top: 40px;
            position: fixed;
            background-image: url({{base_url}}/images/back.png);
            background-size: 100% 100%;
            z-index: 200;
        }
    </style>
    
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    

    <script>

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
//document.getElementById("downloadPage").click();
    }
        
    </script>

{#    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />#}
    <link rel="stylesheet" href="{{ theme_url }}/css/mainPage.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/droidsans.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/fontello.css" type="text/css" />
</head>
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %} style=background-image:url({{base_url}}/assets/background.jpg)>
{#<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>#}

    <div class="fullscreen" >
        <div class="title-img" style="background-image:url({{base_url}}/assets/skice-1-20.png);"></div>
        <div class="hmiddle">
            <div class="rtext title">Tehnisku iemeslu dēļ, šī lapa šobrīd nav pieejama.</div>
            <div class="rtext"> 
                 Drīzumā tiks atjaunota.
            </div>
            <a href="{{base_url}}/nav"><button class="buttonFwd">Atpakaļ <img src="{{base_url}}/images/blt-21.png" style="height: 20px; width: 10px; margin-left: 10px; margin-bottom: -2px;"></button></a>
        </div>
    </div>
    
    <a onclick="window.history.back();"><div class="back"></div></a>
    
    <a hidden id="downloadPage"  onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)" href="#" download="{{current_page.id}}.html"></a>
    
    
    <script src="{{ theme_url }}/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/utils.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/pico.js" type="text/javascript"></script>

</body>
</html>
