<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ theme_url }}/css/modal.css" type="text/css" />
    <script src="{{ theme_url }}/js/jquery-3.3.1.min.js" type="text/javascript"></script>

    <style>
    {#<link rel="stylesheet" href="{{ theme_url }}/css/all.css" type="text/css" />#}
    .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    body{
        border: 0;
        margin: 0;
        padding: 0;
        background-color: #968E88;
        background-image: url("{{base_url}}/images/background.jpg");
    }
.card{
    /*    background-image: url("http://buylaughs.com/wp-content/uploads/2013/12/Funny-memes-5.jpg");*/
    background-size: 100% 100%; 
}
.next{
    float: right;
    height: 72px;
    width:72px; 
    right:50px;
    top: 330px;
    position: relative;
    background-image: url({{base_url}}/images/bult-05.png);
    background-size: 100% 100%;
}
.prew{
    float: left;
    height: 72px;
    width:72px; 
    left:50px;
    top: 330px;
    position: relative;
    background-image: url({{base_url}}/images/bult-04.png);
    background-size: 100% 100%;
}

.map{
    position: fixed;
    width: 1500px;
    height: 820px;
    left:210px;
    top:170px;
    background-image: url({{base_url}}/images/map.jpg);
    background-size: 100% 100%;
}

.pin{
    height: 71px;
    padding-left: 60px;
    padding-top: 30px;
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    position: absolute;
    background-image: url({{base_url}}/images/pin.gif);
    background-size: 48px;
    background-repeat: no-repeat;
}
.back{
    height: 95px;
    width: 95px;
    left: 75px;
    top: 40px;
    position: fixed;
    background-image: url({{base_url}}/images/back.png);
    background-size: 100% 100%;
}

.cardName, underText{
    opacity: 0;
}
#nextCard{
    position: fixed;
    width: 200px;
    height: 200px;
    right:70px;
    background-size: 100%;
    top: 400px;
    z-index: 100;
}
#prewCard{
    position: fixed;
    width: 200px;
    height: 200px;
    left:70px;
    background-size: 100%;
    top: 400px;
    z-index: 100;
}
.Cdesc{
    position:fixed; 
    color: #FFF; 
    font-size:24px; 
    top:1000px; 
    left:60px; 
    width:1800px; 
    text-align: center;
}

@font-face {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    /* src: url("Dreamland.ttf") */
}
body {
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.valodu-izvelne img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.valodu-izvelne {
    margin-top: 50px;
    margin-left: 70px;
    z-index: 400;
}

.hmiddle{
    width: 1800px;
    position:absolute;
    top: 80px;
    text-align: center;
    background-color: rgba(0,0,0, 0.6);
    z-index: 2;
}

a:-webkit-any-link {
    color: #fff;
    text-decoration: none;
    cursor: auto;
}

.cardNameHolder{
    opacity: 0.65;
    width: 400px;
    height: 100%;
    position: fixed;
    background-color: #000;
}

.buttonFwd{
    background-color: rgba(0,0,0, 0.3);
    border: 1px solid #fff;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 14px;
    margin-left: 24px;
    cursor: pointer;
    border-radius: 34px;
    position: inherit;
    width: 200px;
}

</style>

    <link rel="stylesheet" href="{{ theme_url }}/css/mapgal.css" type="text/css" />

    <script >
var cardX = 170; //
var cardY = 370; //
var cardH = 290;
var cardW = 1550;
var indexMultiplier = 0.1; // maybe allows to skip some cards?
var difX = 450;
var difY = 290;
var difH = -44;
var difW = -200;
var cardTextDif = 30;
var blurRatio = 5; // 10 is quite a lot

// these *TWO* allows to change card movement/speed/framerate
var timerInterval = 50; // speed
var difOpen = 0.05; // framerate

var textPadding = -Math.round(cardH*0.35);
//max iespējamie slaidi
var startZ = 10;

//Nevajag mainīt
var open = 0;
var maxindex = 0;
var getTo = 0;
var ongoing = false;
var timer;
var cards;
var texts;
var desc;
var cardTag;
var absDifH = Math.abs(difH);

var cardPositions = {
    "0" : {
        "top"   : "370",
        "left"  : "230",
        "height"    : "290",
        "width" : "1550"
    },
    "1" : {
        "top"   : "710",
        "left"  : "501",
        "height"    : "246",
        "width" : "1318"
    },
    "-1" : {
        "top"   : "80",
        "left"  : "501",
        "height"    : "246",
        "width" : "1318"
    },
    "2" : {
        "top"   : "996",
        "left"  : "874",
        "height"    : "175",
        "width" : "934"
    },
    "-2" : {
        "top"   : "-137",
        "left"  : "874",
        "height"    : "175",
        "width" : "934"
    },
    "3" : {
        "top"   : "1270",
        "left"  : "874",
        "height"    : "175",
        "width" : "934"
    },
    "-3" : {
        "top"   : "-410",
        "left"  : "874",
        "height"    : "175",
        "width" : "934"
    },
    "boundNumber"   : "3"
};

var textPositions = {
    "0" : {
        "top"   : "467",
        "left"  : "180",
        "height"    : "95",
        "width" : "1650"
    },
    "1" : {
        "top"   : "792",
        "left"  : "471",
        "height"    : "82",
        "width" : "1369"
    },
    "-1" : {
        "top"   : "163",
        "left"  : "471",
        "height"    : "82",
        "width" : "1369"
    },
    "2" : {
        "top"   : "1054",
        "left"  : "844",
        "height"    : "58",
        "width" : "934"
    },
    "-2" : {
        "top"   : "-95",
        "left"  : "844",
        "height"    : "58",
        "width" : "934"
    },
    "3" : {
        "top"   : "1384",
        "left"  : "844",
        "height"    : "58",
        "width" : "934"
    },
    "-3" : {
        "top"   : "-534",
        "left"  : "844",
        "height"    : "58",
        "width" : "934"
    },
    "boundNumber"   : "3"
};


function MOD(num) {
    if (num >= 0) {
        return num;
    } else {
        return num * (1);
    }
}

function percentageByValue(min, max, val){
    if (max < min) return percentageByValue(max, min, val);
    if (val < min) return 0;
    if (val > max) return 1;

    return ((val-min)/(max-min));
}

function percentageByRatio(min, max, percentage){
    //if (max < min) return percentageByRatio(max, min, percentage);
    if (percentage < 0) return min;
    if (percentage > 100) return max;

    return ((max-min)*(percentage))+min;
}

function initialize(element, index) {
    //  element = document.getElementById();
    element.setAttribute('index', index);

    var currStyle = 'position:fixed; ';
    var image = element.getAttribute('image');
    var posDif = MOD(open - index);
    var posDifInv = MOD(index - open);

    //var cardHeight = (Math.abs(posDif) >= 0) ? Math.round(cardH + difH) : Math.round(cardH);
    var cardHeight = Math.round(cardH + (Math.abs(posDif) * difH));

    currStyle += 'background-image: url("{{base_url}}/assets/' + image + '"); ';
    currStyle += '-webkit-filter: blur(' + (Math.abs(posDif)*blurRatio) + 'px); ';

    currStyle += drawByPos(index, cardPositions);
    
    if (index == open) {
        currStyle += 'z-index:' + startZ + ';';
    } else {
        currStyle += 'z-index:' + Math.round(startZ - MOD(index - open)) + ';';
    }
    element.setAttribute("style", currStyle);

    element.addEventListener('click', function () {
        move(element);
    });
    maxindex = index;
}

function initializeText(element, index) {
    
    var posDif = MOD(open - index);
    var posDifInv = MOD(index - open);
    var cardHeight = (Math.abs(posDif) > 0) ? Math.round(cardH + difH) : Math.round(cardH);
    
    //  element = document.getElementById();
    element.setAttribute('index', index);
    var currStyle = 'position:fixed; color: #FFF; font-size:46px;';
    if(index != open) currStyle += '-webkit-filter: blur(' + (Math.abs(posDif)*blurRatio) + 'px); ';
    
    if (index - open >= 0) 
    {
        currStyle += 'top:' + (Math.round(-(percentageByValue(1,3,posDifInv+1)*absDifH) + cardY + (posDifInv * (cardH)) + (posDifInv * (cardH - cardHeight))) + textPadding + (cardH/2)) + 'px; ';
    }
    else
    {
        currStyle += 'top:' + (Math.round(cardY + (posDifInv * (cardH + difH)) + (posDifInv * (cardH - cardHeight))) + textPadding + (cardH/2)) + 'px; ';
    }
        
    currStyle += 'left:' + Math.round(cardX + (percentageByValue(0,2,Math.abs(posDif)) * (Math.pow(Math.abs(open - index), indexMultiplier) * difX))) + 'px; ';
    currStyle += 'width:' + (cardTextDif + cardW + cardTextDif) + 'px; ';
    currStyle += 'height:' + 130 + 'px; ';
    currStyle += 'text-align: center;';

    {
        currStyle += 'z-index: 15;';
        currStyle += 'background-color: rgba(0,0,0, 0.78);';
        currStyle += 'padding-top: 50px;';
    }
    
    //currStyle += 'opacity:' + 1 + ';';
        

    element.setAttribute("style", currStyle);
}

function initializeDesc(element, index) {
    //  element = document.getElementById();
    currStyle = "";
    element.setAttribute('index', index);
    if (index == open) {
        currStyle += 'opacity:' + 1 + ';';
    } else {
        currStyle += 'opacity:' + 0 + ';';
    }
    element.setAttribute("style", currStyle);
}

function move(element) {
    if (ongoing) {
        return;
    }
    if (element.getAttribute("index") > open) {
        nextCard();
    } else {
        if (element.getAttribute("index") < open) {
            prewCard();
        } else {
            if (element.getAttribute("url").length > 0) {
                window.location = element.getAttribute("url");
            }
        }
    }
}

function nextCard() {
    if (ongoing) {
        return;
    }
    if (open < maxindex) {
        ongoing = true;
        getTo = open + 1;
        setC(getTo);
        makePrewVisible()
        timer = setInterval(drawscreenN, timerInterval);
    }
    if (open + 1 >= maxindex) {
        makeNextInvisible();
    }
}

function prewCard() {
    if (ongoing) {
        return;
    }
    if (open > 0) {
        ongoing = true;
        getTo = open - 1;
        setC(getTo);
        makeNextVisible();
        timer = setInterval(drawscreenP, timerInterval);
    }
    if (open - 1 == 0) {
        makePrewInvisible();
    }
}

function drawscreenP() {
    open -= difOpen;
    if (open < getTo) {
        open = getTo;
        window.clearInterval(timer);
        ongoing = false;
    }
    for (index = 0; index < cards.length; ++index) {
        drawCard(cards[index], index);
    }
    for (index = 0; index < cards.length; ++index) {
        drawText(texts[index], index);
    }
    if (desc.length > 1) {
        for (index = 0; index < cards.length; ++index) {
            drawDesc(desc[index], index);
        }
    }
}

function drawscreenN() {
    open += difOpen;
    if (open > getTo) {
        open = getTo;
        window.clearInterval(timer);
        ongoing = false;
    }
    for (index = 0; index < cards.length; ++index) {
        drawCard(cards[index], index);
    }
    for (index = 0; index < cards.length; ++index) {
        drawText(texts[index], index);
    }
    if (desc.length > 1) {
        for (index = 0; index < cards.length; ++index) {
            drawDesc(desc[index], index);
        }
    }
}

function drawText(element, index) {
    
    var posDif = MOD(open - index);
    
    element.setAttribute('index', index);
    var currStyle = 'position:fixed; color: #FFF; font-size:46px; ';
    if(index != open) currStyle += '-webkit-filter: blur(' + (Math.abs(posDif)*blurRatio) + 'px); ';
    
    currStyle += drawByPos(index, textPositions);
    currStyle += 'text-align: center;';
    
    currStyle += 'z-index: 15;';
    currStyle += 'background-color: rgba(0,0,0, 0.78);';
    
    currStyle += 'opacity: 1;';

    element.setAttribute("style", currStyle);
}

function drawDesc(element, index) {
    var currStyle = '';
    if (MOD(index - open) >= 1) {
        currStyle += 'opacity:' + 0 + ';';
        currStyle += 'z-index: 3;';
    } else {
        if (index - open > 0) {
            currStyle += 'opacity:' + (1 - MOD(open - index)) + ';';
        } else {
            currStyle += 'opacity:' + (1 - MOD(index - open)) + ';';
        }
    }
    element.setAttribute("style", currStyle);
}

function drawByPos(index, elPositions){
    var posDif = index - open;
    var posDifAbs = Math.abs(posDif);
    
    var boundNumber = parseInt(elPositions["boundNumber"]);
    
    if (posDifAbs > boundNumber){
        //return false;
        //console.log(posDif);
        return "top: 0px; left: 0px; height: 0px; width: 0px; display: none; ";
    }
    
    var floor = Math.floor(posDif);
    var ceiling = Math.ceil(posDif);
    
    var elTop = 0;
    var elLeft = 0;
    var elHeight = 0;
    var elWidth = 0;
    
    if (floor == ceiling){
        elTop = elPositions[""+floor]["top"];
        elLeft = elPositions[""+floor]["left"];
        elHeight = elPositions[""+floor]["height"];
        elWidth = elPositions[""+floor]["width"];
    }
    else {
        elTop = percentageByRatio(parseInt(elPositions[""+floor]["top"]), parseInt(elPositions[""+ceiling]["top"]), (posDif - floor)) ;
        elLeft = percentageByRatio(parseInt(elPositions[""+floor]["left"]), parseInt(elPositions[""+ceiling]["left"]), (posDif - floor)) ;
        elHeight = percentageByRatio(parseInt(elPositions[""+floor]["height"]), parseInt(elPositions[""+ceiling]["height"]), (posDif - floor)) ;
        elWidth = percentageByRatio(parseInt(elPositions[""+floor]["width"]), parseInt(elPositions[""+ceiling]["width"]), (posDif - floor)) ;
    }
    
    return "top: " + elTop + "px; left: "+ elLeft + "px; height: " + elHeight + "px; width: " + elWidth + "px; ";
}

function drawCard(element, index) {
    var currStyle = 'position:fixed; ';
    var image = element.getAttribute('image');
    var posDif = MOD(open - index);
    
    currStyle += 'background-image: url("{{base_url}}/assets/' + image + '"); ';
    currStyle += '-webkit-filter: blur(' + (Math.abs(posDif)*blurRatio) + 'px); ';
    
    currStyle += drawByPos(index, cardPositions);
    
    if (index == open) {
        currStyle += 'z-index:' + startZ + ';';
    } else {
        currStyle += 'z-index:' + Math.round(startZ - Math.abs(posDif)) + ';';
    }
    element.setAttribute("style", currStyle);

}


function setC(opened) {
    if (typeof (suid) != 'undefined') {
        document.cookie = suid.toString() + "=" + opened.toString() + ';';
    }
    document.cookie = "slider{{meta.parrent}}=" + opened.toString() + ';';
}

function getC() {
    if (typeof (suid) != 'undefined') {
        var c = getCookie(suid.toString());
        if (c > 0) {
            return parseInt(c);
        } else {
            return 0;
        }

    } else {
        var c = getCookie('slider{{meta.parrent}}');
        if (c > 0) {
            return parseInt(c);
        } else {
            return 0;
        }
    }
}

function resetC() {
    setC(0);
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
function makeNextInvisible() {
    document.getElementById('nextCard').style = 'display:none';
}
function makePrewVisible() {
    document.getElementById('prewCard').style = 'display:block';
}
function makePrewInvisible() {
    document.getElementById('prewCard').style = 'display:none';
}
function makeNextVisible() {
    document.getElementById('nextCard').style = 'display:block';
}

function populateSwitchOptions(orderSwitchName){
    orderSwitch = document.getElementsByName(orderSwitchName)[0];
    var i;
    for(i = orderSwitch.options.length - 1 ; i >= 0 ; i--)
    {
        orderSwitch.remove(i);
    }

    for (i = 0; i<someCounter; i++){
        
        var option = document.createElement("option");
            option.text = orderNrs[i];
            option.value = (i == open) ? "none" : (orderNrs[open] + "|" + orderNrs[i] + "|" + ids[i]);
        orderSwitch.add(option);

    }
}

function addModalContent(){
//document.getElementById("downloadPage").click();
    
    modal = document.getElementById('id01');

    var dests = document.getElementsByName('destination');
    var pageids = document.getElementsByName('pageId');

    if(modal.style.display == 'none'){

        document.getElementsByName('mType')[0].value = descType[open];
        document.getElementsByName('mAssetName')[0].value = assetName[open];
        //document.getElementsByName('destination')[0].value = destinations[open];
        //document.getElementsByName('pageId')[0].value = ids[open];
        
        for (var i=0; i < dests.length; i++) {
            dests[i].value = destinations[open];
            pageids[i].value = ids[open];
        }

        document.getElementsByName('mOrderNr')[0].value = orderNrs[open];
        document.getElementsByName('mHasChild')[0].value = hasChilds[open];
        populateSwitchOptions('mOrderSwitch');
        document.getElementsByName('mOrderSwitch')[0].value = "none";
        
        document.getElementsByName('mCardName')[0].value = texts[open].innerHTML;
        document.getElementById("modalImage").src="{{base_url}}/images/" + assetName[open];

        modal.style.display='block';
    }
}

function addEvents(element, index){
    element.setAttribute('index', index);

    element.addEventListener('click', function () {
        move(element);
    });
}
var pointerEventToXY = function(e){
    var out = {x:0, y:0};
    if(e.type == 'touchstart' || e.type == 'touchmove' || e.type == 'touchend' || e.type == 'touchcancel'){
        var touch = e.originalEvent.touches[0] || e.originalEvent.changedTouches[0];
        out.x = touch.pageX;
        out.y = touch.pageY;
    } else if (e.type == 'mousedown' || e.type == 'mouseup' || e.type == 'mousemove' || e.type == 'mouseover'|| e.type=='mouseout' || e.type=='mouseenter' || e.type=='mouseleave') {
        out.x = e.pageX;
        out.y = e.pageY;
    }
    return out;
};

function hasClass(element, className) {
    return (' ' + element.className + ' ').indexOf(' ' + className+ ' ') > -1;
}

var mY = 0;
var pageCounter = 0;
window.onload = function () {
    
        $('body').on('touchstart mousedown', function(e) {
        //alert("down");    
            mY = pointerEventToXY(e).y;
        
            console.log("clicked down: "+mY);
        }).on('touchend mouseup', function(e) {
            //alert("up");
            console.log("clicked up: "+pointerEventToXY(e).y);
            
            if (Math.abs(pointerEventToXY(e).y - mY) < 100){
                $( "a[index='"+open+"']" ).trigger("click");
            }
            else if (pointerEventToXY(e).y < mY) {
                console.log('From Bottom');
                nextCard();
            } else {
                console.log('From Top');
                prewCard();
            }
        });
        
    // Get the modal
    modal = document.getElementById('id01');
    modal.style.display = 'none';

    cards = document.getElementsByClassName("card");
    texts = document.getElementsByClassName("cardName");
    desc = document.getElementsByClassName("Cdesc");
    cardTag = document.getElementsByClassName("cardTag");
    
    if (cards.length > 1) {
        var elements = '<div id="nextCard" onclick="nextCard();"></div> <div id="prewCard" onclick="prewCard();"></div>';
    }
    document.body.innerHTML += elements;
    open = getC();

    if (open == 0 && cards.length > 1) {
        makePrewInvisible()
    }

    if (open == cards.length - 1 && cards.length > 1) {
        makeNextInvisible()
    }

    for (index = 0; index < cards.length; ++index) {
        initialize(cards[index], index);
    }
    for (index = 0; index < texts.length; ++index) {
        drawText(texts[index], index);
        updateText(texts[index]);
    }
    for (index = 0; index < desc.length; ++index) {
        initializeDesc(desc[index], index);
    }
    for (index = 0; index < cardTag.length; ++index) {
        addEvents(cardTag[index], index);
    }
    
    document.getElementsByTagName('body')[0].addEventListener("click", function () {
        resetTimer();
    });

    var list = document.getElementsByClassName('pageAmount');
    for (var hi = 0; hi < list.length; hi++) {
        list[hi].value = ""+pageCounter;
    }
    
    if(document.getElementsByTagName('body')[0].innerHTML.search("page_edited") >= 0){
        //alert("found page_edited");
        resetPage();
    }
    
};

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    console.log("just clicked");
    if (event.target == modal) {
        //TODO: refresh page
{#        modal.style.display = "none";#}
        document.getElementById('id01').style.display="none";
    }
}

var closer;
var sec = 120;
closer = setTimeout(resetPage, sec * 1000);
function resetPage() {
    window.location.href = '';
}
function resetTimer() {
    window.clearTimeout(closer);
    closer = setTimeout(resetPage, sec * 1000);
}

var modal;
var someCounter = 0;
var assetName = []; 
var descType = [];
var destinations = [];
var ids = [];
var orderNrs = [];
var hasChilds = [];

function setTwigValues(assetName_, descType_, destinations_, ids_, orderNrs_, hasChilds_){
    assetName[someCounter] = assetName_;
    descType[someCounter] = descType_;
    destinations[someCounter] = destinations_;
    ids[someCounter] = ids_;
    orderNrs[someCounter] = orderNrs_;
    hasChilds[someCounter] = hasChilds_;
    someCounter++;
}

function toggleHidden(elementId){
    var el = document.getElementById(elementId);
    if (el.style.display === "none") {
        el.style.display = "block";
    } else {
        el.style.display = "none";
    }
}


function updateText(element){
    if(hasClass(element,'cardName')){
        element.innerHTML = element.innerHTML + "<button class='buttonFwd'>Lasīt vairāk <img src='{{base_url}}/images/blt-21.png' style='height: 20px; width: 10px; margin-left: 10px; margin-bottom: -2px;'></button>";
        
    }
}

function updateModalFile(){
    var fullPath = document.getElementsByName('assetImage')[0].value;
    if (fullPath) {
        var startIndex = ((fullPath.indexOf('\\') >= 0) ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
        var filename = fullPath.substring(startIndex);
        if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
            filename = filename.substring(1);
        }
        //alert(filename);
        //document.getElementsByName('mAssetName')[0].value = filename;
        
        var fileExtension = filename.split('.').pop().toLowerCase();
        if(fileExtension == "jpg" || fileExtension == "png" || fileExtension == "jpeg" || fileExtension == "gif"){
            document.getElementsByName('mAssetName')[0].value = filename;
        }
        else {
            alert("Drīkst pievienot tikai attēla failus ar tipu: jpg, jpeg, png, gif!");
            document.getElementsByName('assetImage')[0].value = null;
        }
        
    }
}


    </script>
    
        <title>The Warkland</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
   
    <body onkeypress="addModalContent()" class="unselectable">
        
        <div class="cardNameHolder"></div>
        
        <div id="id01" class="modal">
            <div class="modal-content animate">
                
                <button onclick="toggleHidden('formEditPage')">Rediģēt lapu!</button>
                <form style="display: none;" method="post" action="" id="formEditPage" action="" >
                    <div class="imgcontainer">

                        <img src="{{base_url}}/images/{{assetName}}" alt="Avatar" id="modalImage" class="avatar">
                    </div>

                    <div class="modalContainer">
                        <label for="mAssetName"><b>Attēla faila nosaukums</b></label>
                        <input type="text" placeholder="Enter Username" name="mAssetName">
                        <input type="file" name="assetImage" id="assetImage" style="display: none;" onchange="updateModalFile()">
                        <input type="button" value="Attēls..." onclick="document.getElementById('assetImage').click();" /><br>


                        <input type="hidden" placeholder="Enter Username" name="mType" required>

                        <label for="mOrderSwitch"><b>Kārtas numurs</b></label>
                        <br/>
                        <select name="mOrderSwitch">
                            <option value="1">Šim nebūtu jābūt redzamam</option>
                        </select>
                        <br/>
                        <input type="hidden" placeholder="Enter Username" name="mOrderNr" required>

                        <label for="mCardName"><b>Navigācijas nosaukums</b></label>
                        <input type="text" placeholder="Enter Username" name="mCardName" required>

                        <input type="hidden" name="destination" value="temp">
                        <input type="hidden" name="pageId" value="temp">
                        <input type="hidden" name="mHasChild" value="false">

                        <button type="submit" name="editPage" value="almostUselessValue">Saglabāt</button>
                    </div>

                    <div class="modalContainer" style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Atcelt</button>
                    </div>
                </form>
                
                    
                <button onclick="toggleHidden('formCreatePage')">Pievienot lapu!</button>
                <form style="display: none;" method="post" action="" id="formCreatePage" enctype="multipart/form-data">
                    <input type="submit" name="addPage" value='Pievienot lapu!'>
                    <select name="pageType">
                        <option value="text">Teksta lapu</option>
                        <option selected="selected" value="textframe">Teksta un rāmja lapu</option>
                        <option value="gallery">Galerijas lapu</option>
                        <option value="pdf">PDF lapu</option>
                        <option value="videos">Video lapu</option>
                        <option value="nav">Navigācijas itemu</option>
                    </select>
                    <input type="hidden" name="destination" value="temp">
                    <input type="hidden" name="pageId" value="temp">
                    <input hidden type="text" name="assetName" value="skice-1-20.png">
                </form>

                <button onclick="document.deleteItem.submit()">Dzēst lapu!</button>
                <form method="post" action="" id="formDeleteItem" name="formDelete" enctype="multipart/form-data">
                    <input type="submit" name="deleteItem" value='Izdzēst lapu!'>
                    <input type="hidden" name="destination" value="temp">
                    <input type="hidden" name="pageId" value="temp">
                </form>
            </div>
        </div>

        

        <a hidden id="downloadPage"  onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)" href="#" download="{{current_page.id}}.html"></a>
        
        
        
    {% for page in pages|sort_by([ 'meta', 'ordernr' ]) if page.meta.parrent == meta.parrent and page.meta.nav and not ('descPages/' in page.id) %} {# make sure the index the index page has the same parrent as the rest #}
    {% set pagepath = page.id|split('/') %}
        
    
            <script type="text/javascript">console.log("{{ page.id }}");</script>
        <div class="navitem content " >
{#            <div class="title-img" style="background-image:url({{base_url}}/assets/skice-1-20.png);"></div>#}
            
            
        
            
            {#{% if page.meta.haschild == 'true'%}
                <a class="cardTag" url="{{ base_url ~ '/' ~ pagepath|slice(0,-1)|join('/') ~ '/descPage_' ~ page.url|split('_')[1] ~ '_' }}">
                <div class="card" image="{{page.meta.assetname}}" url="{{ base_url ~ '/' ~ pagepath|slice(0,-1)|join('/') ~ '/descPage_' ~ page.url|split('_')[1] ~ '_' }}"></div>
            {% else %}
                <a class="cardTag" url="{{ base_url ~ '/' ~ pagepath|slice(0,-1)|join('/') ~ '/' ~ pagepath|last|split('_')|join('') }}">
                <div class="card" image="{{page.meta.assetname}}" url="{{ base_url ~ '/' ~ pagepath|slice(0,-1)|join('/') ~ '/' ~ pagepath|last|split('_')|join('') }}"></div>
            {% endif %}
            #}
                <a class="cardTag" url="{{ base_url ~ '/' ~ pagepath|slice(0,-1)|join('/') ~ '/' ~ pagepath|last|split('_')|join('') }}">
                
                <div class="cardHolder">    
                    <div class="card" image="{{page.meta.assetname}}" url="{{ base_url ~ '/' ~ pagepath|slice(0,-1)|join('/') ~ '/' ~ pagepath|last|split('_')|join('') }}"></div>
                    {{ page.id|content }}
                </div>
                {#<div class="hmiddle">
                    <button class="buttonFwd">Lasīt vairāk <img src="{{base_url}}/images/blt-21.png" style="height: 20px; width: 10px; margin-left: 10px; margin-bottom: -2px;"></button>
                </div>#}
                <br/>
            </a>
        </div>

                
        <script type="text/javascript"> <!-- count loaded/used page count -->
            pageCounter++;
            
            setTwigValues("{{ page.meta.assetname }}", "{{ page.meta.type }}",
                "{{ page.id|split('/')|slice(0,-1)|join('/') }}", "{{ page.url|split('_')[1] }}",
                "{{ page.meta.ordernr }}", "{{ page.meta.hasChild }}");
        </script>
        
        <a href="{{ base_url ~ '/' ~ page.id|split('/')|slice(0,-2)|join('/')}}"><div class="back"></div></a>
    {% endfor %}
        
    
{#    {{ content_editor }}#}
    </body>
</html>
 