/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 5, 2018, 7:13:15 PM
    Author     : Hyde
*/

body {
    /*background-image:url(assets/mainBack.jpg);/*TO-DO: make this work*/ 
}

#mainframe {
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

#main {
    border-style: solid;
    border-color: yellow;
    border-width: 2px;
    
    max-width: 56em;
    padding: 0.5em 0.5em;
    margin: 0 auto;
}

#main .container {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    
    color: white;
    font-size: 1.5em;
    background-color: black;
    opacity: 50%;
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: white;*/
    
}

body{
    margin: 0;
    padding: 0;
    /*background-image: url("assets/background.jpg");*/
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.buttonFwd{
    background-color: rgba(0,0,0, 0.3);
    border: 1px solid #fff;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 34px;
}

.fullheigth{
    height: 100vh;
}
.fullscreen{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: auto;
}

.hmiddle{
    width: 1800px;
    position:absolute;
    text-align: center;
    margin-top: 80px;
    margin-left: 60px;
    padding-bottom: 40px;
    background-color: rgba(0,0,0, 0.6);
    z-index: 2;
}
.title-img{
    width: 1760px;
    position:fixed;
    margin-top: 50px;
    margin-left: 80px;
    height: 1000px;
    /*background-image: url(assets/skice-1-20.png);*/	
    z-index: 1;
}
.rtext{
    padding-left:  100px;
    padding-right: 100px;
    font-size: 24px;
    color: #fff;
    text-shadow: 0px 0px 15px #666;
}

.rtext.title{
    padding-left:  100px;
    padding-right: 100px;
    padding-top: 70px;
    font-size: 45px;
    color: #fff;
    text-shadow: 0px 0px 15px #666;
}

a:-webkit-any-link {
    color: #fff;
    text-decoration: none;
    cursor: auto;
}