body{
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #968E88;
    background-image: url("{{base_url}}/images/background.jpg");
}
.card{
    /*    background-image: url("http://buylaughs.com/wp-content/uploads/2013/12/Funny-memes-5.jpg");*/
    background-size: 100% 100%; 
}
.next{
    float: right;
    height: 72px;
    width:72px; 
    right:50px;
    top: 330px;
    position: relative;
    background-image: url({{base_url}}/images/bult-05.png);
    background-size: 100% 100%;
}
.prew{
    float: left;
    height: 72px;
    width:72px; 
    left:50px;
    top: 330px;
    position: relative;
    background-image: url({{base_url}}/images/bult-04.png);
    background-size: 100% 100%;
}

.map{
    position: fixed;
    width: 1500px;
    height: 820px;
    left:210px;
    top:170px;
    background-image: url({{base_url}}/images/map.jpg);
    background-size: 100% 100%;
}

.pin{
    height: 71px;
    padding-left: 60px;
    padding-top: 30px;
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    position: absolute;
    background-image: url({{base_url}}/images/pin.gif);
    background-size: 48px;
    background-repeat: no-repeat;
}
.back{
    height: 95px;
    width: 95px;
    left: 75px;
    top: 40px;
    position: fixed;
    background-image: url({{base_url}}/images/back.png);
    background-size: 100% 100%;
}

.cardName, underText{
    opacity: 0;
}
#nextCard{
    position: fixed;
    width: 200px;
    height: 200px;
    right:70px;
    background-image: url({{base_url}}/images/roundNext.png);
    background-size: 100%;
    top: 400px;
    z-index: 100;
}
#prewCard{
    position: fixed;
    width: 200px;
    height: 200px;
    left:70px;
    background-image: url({{base_url}}/images/roundBack.png);
    background-size: 100%;
    top: 400px;
    z-index: 100;
}
.Cdesc{
    position:fixed; 
    color: #FFF; 
    font-size:24px; 
    top:1000px; 
    left:60px; 
    width:1800px; 
    text-align: center;
}

@font-face {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    /* src: url("Dreamland.ttf") */
}
body {
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.valodu-izvelne img {
	width: 80px;
	height: 80px;
	margin-right: 15px;
}

.valodu-izvelne {
	margin-top: 50px;
	margin-left: 70px;
	z-index: 400;
}