/*
This piece of art is copy&pasted from previous projects, so please don't judge me by the lack of time to rewrite this..
*/
/* 
    Created on : Sep 5, 2018, 7:13:15 PM
    Author     : Hyde
*/
body{
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #968E88;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.card{
    background-size: 100% 100%; 
}
.next{
    float: right;
    height: 100px;
    width:100px; 
    right:-30px;
    top: 330px;
    position: relative;
    background-size: 100% 100%;
}
.prew{
    float: left;
    height: 100px;
    width: 100px; 
    left:-30px;
    top: 330px;
    position: relative;
    background-size: 100% 100%;
}
.back{
    height: 95px;
    width: 95px;
    left: 75px;
    top: 40px;
    position: fixed;
    background-size: 100% 100%;
}
.cardNameHolder{
    position: fixed;
    z-index: 0;
    opacity: 0.65;
    width: 1960px;
    height: 1080px;
    background-color: black;
}
.cardName{
    color:#FFF;
    left: 70px;
    top: 260px;
    padding-right: 1000px;
    font-size: 24px;
    width: 90%;
    height: 810px;
    overflow-y: scroll;
}
.cardNameOverlay{
    top: 850px;
    width: 100%;
    height: 300px;
    position: fixed;
    background: linear-gradient(to bottom,transparent,black)
}
.apraxts{
    color:#FFF;
    left: 70px;
    top: 200px;
    position: absolute;
    padding-top: 60px;
    padding-right: 100px;
    font-size: 24px;
    width: 1770px;
    z-index: 10;
}
.header{
    font-size: 46px;
    text-align: left;
    position: fixed;
    left: 70px;
    top: 180px;
}
.underText{
    position: fixed;
    font-size: 24px;
    width: 1000px;
    top: 910px;
    left: 850px;
    color: #FFF;
}
.way{
    font-size: 46px;
    text-align: left;
    position: fixed;
    left: 210px;
    top: 36px;
    color: #fff;
    opacity: 0.5;
}