/*
This piece of art is copy&pasted from previous projects, so please don't judge me by the lack of time to rewrite this..
*/
/* 
    Created on : Sep 5, 2018, 7:13:15 PM
    Author     : Hyde
*/
body{
    
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #968E88;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.card{
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    opacity: 0;
}
.next{
    float: right;
    height: 100px;
    width:100px; 
    right:-30px;
    top: 330px;
    position: relative;
    background-size: 100% 100%;
}
.prew{
    float: left;
    height: 100px;
    width: 100px; 
    left:-30px;
    top: 330px;
    position: relative;
    background-size: 100% 100%;
}
.back{
    height: 95px;
    width: 95px;
    left: 75px;
    top: 40px;
    position: fixed;
    background-size: 100% 100%;
}
.cardNameHolder{
    opacity: 0.9;
    float: left;
    position: fixed;
    background-color: #000;
}
.cardName{
    color:#FFF;
    left: 70px;
    margin-top: 250px;
    padding-right: 2000px;
    font-size: 24px;
    width: 685px;
    height: 2000px;
    overflow-y: scroll;
}
.header{
    font-size: 46px;
    text-align: left;
    position: fixed;
    left: 70px;
    top: 180px;
    width: 20px;
}
.underText{
    position: fixed;
    font-size: 24px;
    text-align: center;
    width: 1135px;
    top: 965px;
    left: 433px;
    color: #FFF;
}
.way{
    font-size: 46px;
    text-align: left;
    position: fixed;
    left: 210px;
    top: 36px;
    color: #fff;
    opacity: 0.5;
}
.zoom{
    position: fixed;
    width: 100px;
    height: 100px;
    top: 880px;
    left: 1597px;
    z-index: 120;
}