
<!DOCTYPE html>
<head>
<link rel="stylesheet" href="{{ theme_url }}/css/modal.css" type="text/css" />
<link rel="stylesheet" href="{{ theme_url }}/css/cards_textframe.css" type="text/css" />
    <script src="{{ theme_url }}/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<style>
    body{
        position: fixed;
        background-image: url("{{base_url}}/images/background.jpg");
    }
    .next{
        background-image: url({{base_url}}/images/bult-05.png);
    }
    .prew{
        background-image: url({{base_url}}/images/bult-04.png);
    }
    .back{
        background-image: url({{base_url}}/images/back.png);
    }
    .zoom{
    background-image: url(images/zoom-23.png);
    }
    
</style>

<script>
    
    
var cardX = 850;
var cardY = 140;
var cardH = 750;
var cardW = 1000;
var timerInterval = 40;
var difOpen = 0.07;
var textPadding = 10;
//max iespējamie slaidi
var startZ = 100;

//Nevajag mainīt
var open = 0;
var maxindex = 0;
var getTo = 0;
var ongoing = false;
var timer;
var cards;
var texts;
var utexts;

function hasClass(element, className) {
    return (' ' + element.className + ' ').indexOf(' ' + className+ ' ') > -1;
}

function MOD(num) {
    if (num >= 0) {
        return num;
    } else {
        return num * -1;
    }
}

function initialize(element, index) {
    //  element = document.getElementById();
    element.setAttribute('index', index);
    if (cards.length > 1) {
        element.innerHTML = ' <div onclick="prewCard()" class="prew"> </div> ';
        element.innerHTML += ' <div onclick="nextCard()" class="next"> </div>';
    }
    var currStyle = 'position:fixed; display:block;';
    //  currStyle += '-webkit-filter: blur(' + index + 'px); ';
    currStyle += 'top:' + (cardY) + 'px; ';
    currStyle += 'left:' + (cardX) + 'px; ';
    currStyle += 'width:' + (cardW) + 'px; ';
    currStyle += 'height:' + (cardH) + 'px; ';
    
    // currStyle += 'box-shadow: 1px 1px 2px #555;';
    if (index == open) {
        currStyle += 'opacity: 1 ;';
        currStyle += 'z-index:' + startZ + ';';
    } else {
        currStyle += 'display: none;';
        currStyle += 'z-index:' + (startZ - MOD(index - open)) + '; ';
    }
    var image = element.getAttribute('image');
    currStyle += 'background-image: url("' + image + '"); ';
    element.setAttribute("style", currStyle);
    maxindex = index;
    var buttons = document.getElementsByClassName('prew');
    for (index = 0; index < buttons.length; ++index) {
        buttons[index].style.display = "none";
    }

}

function initializeText(element, index) {
    //  element = document.getElementById();
    element.setAttribute('index', index);
    var currStyle = 'position:fixed; ';
        currStyle += 'color: white; ';
    if (index == open) {
        currStyle += 'opacity:' + 1 + ';';
    } else {
        currStyle += 'opacity:' + 0 + ';';
        currStyle += 'display: none;';
    }
    element.setAttribute("style", currStyle);
    
}

function nextCard() {
    if (ongoing) {
        return;
    }
    if (open + 1 >= maxindex) {
        var buttons = document.getElementsByClassName('next');
        for (index = 0; index < buttons.length; ++index) {
            buttons[index].style.display = "none";
        }
    }
    var buttons = document.getElementsByClassName('prew');
    for (index = 0; index < buttons.length; ++index) {
        buttons[index].style.display = "block";
    }
    if (open < maxindex) {
        ongoing = true;
        getTo = open + 1;
        timer = setInterval(drawscreenN, timerInterval);
    }
}

function prewCard() {
    if (ongoing) {
        return;
    }
    if (open - 1 <= 0) {
        var buttons = document.getElementsByClassName('prew');
        for (index = 0; index < buttons.length; ++index) {
            buttons[index].style.display = "none";
        }
    }
    var buttons = document.getElementsByClassName('next');
    for (index = 0; index < buttons.length; ++index) {
        buttons[index].style.display = "block";
    }
    if (open > 0) {
        ongoing = true;
        getTo = open - 1;
        timer = setInterval(drawscreenP, timerInterval);
    }
}

function drawscreenP() {
    open -= difOpen;
    if (open < getTo) {
        open = getTo;
        window.clearInterval(timer);
        ongoing = false;
    }
    for (index = 0; index < cards.length; ++index) {
        drawText(texts[index], index);
    }

    for (index = 0; index < utexts.length; ++index) {
        drawText(utexts[index], index);
    }
    
    for (index = 0; index < utexts.length; ++index) {
        drawText(wayTexts[index], index);
    }
    
    for (index = 0; index < utexts.length; ++index) {
        updateText(headTexts[index], index);
    }
    
    for (index = 0; index < cards.length; ++index) {
        drawCard(cards[index], index);
    }

}

function drawscreenN() {
    open += difOpen;
    if (open > getTo) {
        open = getTo;
        window.clearInterval(timer);
        ongoing = false;
    }
    for (index = 0; index < cards.length; ++index) {
        drawText(texts[index], index);
    }
    for (index = 0; index < utexts.length; ++index) {
        drawText(utexts[index], index);
    }
    
    for (index = 0; index < utexts.length; ++index) {
        drawText(wayTexts[index], index);
    }
    
    for (index = 0; index < utexts.length; ++index) {
        updateText(headTexts[index], index);
    }
    
    for (index = 0; index < cards.length; ++index) {
        drawCard(cards[index], index);
    }

}

function drawText(element, index) {
    element.setAttribute('index', index);
    var currStyle = 'position:fixed;';
        currStyle += 'color: white; ';
    if (MOD(index - open) >= 1) {
        currStyle += 'opacity: 0;';
        currStyle += 'display: none;';
    } else {
        if (index - open > 0) {
            currStyle += 'opacity:' + (1 - MOD(open - index)) + ';';
        } else {
            currStyle += 'opacity:' + (1 - MOD(index - open)) + ';';
        }
    }
    element.setAttribute("style", currStyle);
}

function drawCard(element, index) {
    var currStyle = 'position:fixed; ';
    var image = element.getAttribute('image');
    currStyle += 'background-image: url("' + image + '"); ';
    currStyle += 'top:' + (cardY) + 'px; ';
    currStyle += 'left:' + (cardX) + 'px; ';
    currStyle += 'width:' + cardW + 'px; ';
    currStyle += 'height:' + (cardH) + 'px; ';
    if (MOD(index - open) >= 1) {
        currStyle += 'opacity: 0;';
        currStyle += 'display: none;';
    } else {
        if (index - open < 0) {
            currStyle += 'opacity:' + (1 - MOD(open - index)) + ';';
        } else {
            currStyle += 'opacity:' + (1 - MOD(index - open)) + ';';
        }
    }
    element.setAttribute("style", currStyle);
}

function populateSwitchOptions(orderSwitchName){
    orderSwitch = document.getElementsByName(orderSwitchName)[0];
    var i;
    for(i = orderSwitch.options.length - 1 ; i >= 0 ; i--)
    {
        orderSwitch.remove(i);
    }

    for (i = 0; i<someCounter; i++){
        
        var option = document.createElement("option");
            option.text = orderNrs[i];
            option.value = (i == open) ? "none" : (orderNrs[open] + "|" + orderNrs[i] + "|" + ids[i]);
        orderSwitch.add(option);

    }
}

function updateText(element,index){
    var navFirst = "";
    var navLast = "";
    
    {% for page in pages if page.meta.parrent == 'nav' and page.meta.nav and (current_page.id|split('/')[1]|last) == (page.id|slice(0, -1)|last) %}
        navFirst = "{{((page.raw_content~'')|split('cardName')|last|slice(2, 1000)|slice(0, -7))}}";
    {% endfor %}
    {% for page in pages if page.meta.parrent == ((meta.parrent~'')|slice(0, -1)) and page.meta.nav and (meta.parrent~'')|slice(3, 10) in page.id %} 
        navLast = "{{((page.raw_content~'')|split('cardName')|last|slice(2, 1000)|slice(0, -7))}}";
    {% endfor %}
    
    if(hasClass(element,'way')){
        if(navFirst != navLast){
            element.innerHTML = "{{ site_title }}"+navFirst;
        }
        else{
            element.innerHTML = "{{ site_title }}";
        }
    }
    else if(hasClass(element,'header')){
        
        element.innerHTML = navLast;
        
        element.setAttribute('index', index);
        var currStyle = 'position:fixed;';
            currStyle += 'color: white; ';
            
        if (MOD(index - open) >= 1) {
            currStyle += 'opacity: 0;';
            currStyle += 'display: none;';
        } else {
            if (index - open > 0) {
                currStyle += 'opacity:' + (1 - MOD(open - index)) + ';';
            } else {
                currStyle += 'opacity:' + (1 - MOD(index - open)) + ';';
            }
        }
        if(navFirst == navLast){
            currStyle += "top: 84px; left: 210px";
        }
        
        element.setAttribute("style", currStyle);
    
    }
}

function updateModalFile(){
    var fullPath = document.getElementsByName('assetImage')[0].value;
    if (fullPath) {
        var startIndex = ((fullPath.indexOf('\\') >= 0) ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
        var filename = fullPath.substring(startIndex);
        if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
            filename = filename.substring(1);
        }
        //alert(filename);
        //document.getElementsByName('mAssetName')[0].value = filename;
        
        var fileExtension = filename.split('.').pop().toLowerCase();
        if(fileExtension == "jpg" || fileExtension == "png" || fileExtension == "jpeg" || fileExtension == "gif"){
            document.getElementsByName('mAssetName')[0].value = filename;
        }
        else {
            alert("Drīkst pievienot tikai attēla failus ar tipu: jpg, jpeg, png, gif!");
            document.getElementsByName('assetImage')[0].value = null;
        }
        
    }
}

function addModalContent(){
//document.getElementById("downloadPage").click()

    // modal is not hidden
    if(modal.style.display == 'none'){

        document.getElementsByName('mType')[0].value = descType[open];
        document.getElementsByName('mAssetName')[0].value = assetName[open];
        document.getElementsByName('destination')[0].value = destinations[open];
        document.getElementsByName('pageId')[0].value = ids[open];
        document.getElementsByName('mOrderNr')[0].value = orderNrs[open];
        document.getElementsByName('mHasChild')[0].value = hasChilds[open];
        populateSwitchOptions('mOrderSwitch');
        document.getElementsByName('mOrderSwitch')[0].value = "none";
        
        document.getElementsByName('mHeader')[0].value = headTexts[open].innerHTML;
        document.getElementsByName('mWay')[0].value = wayTexts[open].innerHTML;
        document.getElementsByName('mCardName')[0].value = texts[open].innerHTML;
        document.getElementsByName('mUnderText')[0].value = utexts[open].innerHTML;
        document.getElementById("modalImage").src="{{base_url}}/assets/" + assetName[open];

        modal.style.display='block';
    }
}
function addModalContent2(){
    modal = document.getElementById('id01');

    var dests = document.getElementsByName('destination');
    var pageids = document.getElementsByName('pageId');

    if(modal.style.display == 'none'){

        document.getElementsByName('mType')[0].value = descType[open];
        document.getElementsByName('mAssetName')[0].value = assetName[open];
        //document.getElementsByName('destination')[0].value = destinations[open];
        //document.getElementsByName('pageId')[0].value = ids[open];
        
        for (var i=0; i < dests.length; i++) {
            dests[i].value = destinations[open];
            pageids[i].value = ids[open];
        }

        document.getElementsByName('mOrderNr')[0].value = orderNrs[open];
        document.getElementsByName('mHasChild')[0].value = hasChilds[open];
        populateSwitchOptions('mOrderSwitch');
        document.getElementsByName('mOrderSwitch')[0].value = "none";
        
{#        document.getElementsByName('mHeader')[0].value = headTexts[open].innerHTML;#}
{#        document.getElementsByName('mWay')[0].value = wayTexts[open].innerHTML;#}
        document.getElementsByName('mCardName')[0].value = texts[open].innerHTML;
{#        document.getElementsByName('mUnderText')[0].value = utexts[open].innerHTML;#}
        document.getElementById("modalImage").src="{{base_url}}/images/" + assetName[open];

        modal.style.display='block';
    }
}

window.onload = function () {
    
    // Get the modal
    modal = document.getElementById('id01');
    modal.style.display = 'none';

    cards = document.getElementsByClassName("card");
    texts = document.getElementsByClassName("cardName");
    utexts = document.getElementsByClassName("underText");
    wayTexts = document.getElementsByClassName("way");
    headTexts = document.getElementsByClassName("header");
    backTexts = document.getElementsByClassName("back");
    
    for (index = 0; index < cards.length; ++index) {
        initialize(cards[index], index);
    }
    for (index = 0; index < texts.length; ++index) {
        initializeText(texts[index], index);
    }
    for (index = 0; index < utexts.length; ++index) {
        initializeText(utexts[index], index);
    }
    for (index = 0; index < utexts.length; ++index) {
        initializeText(wayTexts[index], index);
        updateText(wayTexts[index], index);
    }
    for (index = 0; index < utexts.length; ++index) {
        initializeText(headTexts[index], index);
        updateText(headTexts[index], index);
    }

    document.getElementsByTagName('body')[0].addEventListener("click", function () {
        resetTimer();
    });
    
    
    if(document.getElementsByTagName('body')[0].innerHTML.search("page_edited") >= 0){
        //alert("found page_edited");
        resetPage();
    }
};
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        //TODO: refresh page
        modal.style.display = "none";
    };
{#    console.log("--cur id-- {{current_page.id}}");
    {% set idPath = url|split('/') %}#}


}

var closer;
var sec = 120;
closer = setTimeout(resetPage, sec * 1000);
function resetPage() {
    window.location.href = '';
}

function resetTimer() {
    window.clearTimeout(closer);
    closer = setTimeout(resetPage, sec * 1000);
}

var modal;
var someCounter = 0;
var assetName = []; 
var descType = [];
var destinations = [];
var ids = [];
var orderNrs = [];
var hasChilds = [];

function setTwigValues(assetName_, descType_, destinations_, ids_, orderNrs_, hasChilds_){
    assetName[someCounter] = assetName_;
    descType[someCounter] = descType_;
    destinations[someCounter] = destinations_;
    ids[someCounter] = ids_;
    orderNrs[someCounter] = orderNrs_;
    hasChilds[someCounter] = hasChilds_;
    someCounter++;
}

</script>
    
        <title>Apraksta lapa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body onkeypress="addModalContent()">
        
{#        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>#}
        
    <a hidden id="downloadPage"  onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)" href="#" download="{{current_page.id}}.html"></a>
        
        <div class="cardNameHolder"></div>
        <div class="cardHolder"></div> 
{#        <script type="text/javascript">console.log("some text");</script>#}
            
{#        <p>{{ meta.parrent }}</p>#}
        {% for page in pages|sort_by([ 'meta', 'ordernr' ]) if page.meta.parrent == meta.parrent and page.meta.desc %} 
            <script type="text/javascript">console.log("{{ page.id }}");</script>
            
            {% if page.meta.type == 'text' %}
                <div class="container">
                    <p>{{ page.id|content }}</p>
                </div>
            {% elseif page.meta.type == 'frame' %}
                <div class="card frame" url="" image="{{base_url}}/assets/{{page.meta.assetname}}"></div>
                {{ page.id|content }}
            {% else %} {# page.meta.type == 'textframe' #}
                <div class="card textframe" url="" image="{{base_url}}/assets/{{page.meta.assetname}}"></div>
                <div>
                    {{ page.id|content }}
                </div>
            {% endif %}

            <a href="{{ base_url ~ '/' ~ page.id|split('/')|slice(0,-2)|join('/')}}"><div class="back"></div></a>
            
            <script type="text/javascript">
                setTwigValues("{{ page.meta.assetname }}", "{{ page.meta.type }}",
                    "{{ page.id|split('/')|slice(0,-1)|join('/') }}", "{{ page.url|split('_')[1] }}",
                    "{{ page.meta.ordernr }}", "{{ page.meta.hasChild }}");
            </script>
        {% endfor %}
        
        <div class="cardNameOverlay"></div>
        
        <div id="id01" class="modal">
            <form class="modal-content animate" method="post" action="" enctype="multipart/form-data" >
                <div class="imgcontainer">
                    <img src="{{base_url}}/assets/{{assetName}}" alt="Avatar" id="modalImage" class="avatar">
                </div>

                <div class="modalContainer">
                    <label for="mAssetName"><b>Attēla faila nosaukums</b></label>
                    <input type="text" placeholder="Enter Username" name="mAssetName">
                    <input type="file" name="assetImage" id="assetImage" style="display: none;" onchange="updateModalFile()">
                    <input type="button" value="Attēls..." onclick="document.getElementById('assetImage').click();" /><br>


                    <label for="mType"><b>Lapas tips</b></label>
                    <br/>
                    <select name="mType">
                        <option value="text">Tikai teksta lapa</option>
                        <option selected="selected" value="textframe">Teksta un rāmja lapa</option>
                        <option value="frame">Tikai rāmja lapa</option>
                        <option value="nav">Navigācijas items</option>
                    </select>
                    <br/>

                    <label for="mOrderSwitch"><b>Kārtas numurs</b></label>
                    <br/>
                    <select name="mOrderSwitch">
                        <option value="1">Šim nebūtu jābūt redzamam</option>
                    </select>
                    <br/>
                    <input type="hidden" placeholder="Enter Username" name="mOrderNr">

                    <label hidden for="mHeader"><b>Ekrāna virsraksts</b></label>
                    <input type="hidden" placeholder="Enter Username" name="mHeader">

                    <label hidden for="mWay"><b>Lapas virsraksts</b></label>
                    <input type="hidden" placeholder="Enter Username" name="mWay">

                    <label for="mCardName"><b>Lapas apraksts</b></label>
                    <input type="text" placeholder="Enter Username" name="mCardName">

                    <label for="mUnderText"><b>Lapas paraksts</b></label>
                    <input type="text" placeholder="Enter Password" name="mUnderText">

                    <input type="hidden" name="destination" value="temp">
                    <input type="hidden" name="pageId" value="temp">
                    <input type="hidden" name="mHasChild" value="false">

                    <button type="submit" name="editPage" value="almostUselessValue">Saglabāt</button>
                </div>

                <div class="modalContainer" style="background-color:#f1f1f1">
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Atcelt</button>
                </div>
            </form>
        </div>

        
    </body>
</html>
