<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/mainPage.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/droidsans.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/fontello.css" type="text/css" />
</head>
{#<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %} style=background-image:url({{base_url}}/assets/mainBack.jpg)>#}
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>


{#<h1>USING mainPage.twig --- {{ meta.pagetype }}</h1>#}


    <div class="fullscreen">
        <div class="title-img"></div>
        <div class="hmiddle">
            <div class="rtext"> <span style="font-size:45px;">Lorem ipsum dolor</span> <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lorem urna, posuere ac nulla nec, consequat pharetra turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras tellus sem, imperdiet sit amet ligula sit amet, dictum commodo libero. Etiam auctor ornare elementum. Morbi rhoncus magna non consequat varius. Maecenas vulputate nisl quis pretium pharetra. Nullam luctus magna ornare purus vulputate maximus. Etiam eleifend condimentum ultricies. Nulla imperdiet elit ac eros feugiat, commodo tempor diam gravida. In sit amet tempus velit, vitae congue nisl.<br><br>

        Maecenas at lacus leo. Donec varius, eros eu tincidunt eleifend, quam orci rutrum odio, id sagittis purus ante ut sem. Aenean egestas ligula vel sapien dignissim vehicula. Duis dignissim arcu eget diam sagittis sollicitudin. Phasellus luctus dignissim lobortis. Aliquam feugiat faucibus justo, malesuada rutrum dolor bibendum vel. Suspendisse eu maximus nunc.
            </div>
            <button class="buttonFwd">Lasīt vairāk <img src="images/blt-21.png" style="height: 20px; width: 10px; margin-left: 10px; margin-bottom: -2px;"></button>
        </div>
    </div>

    <div id="mainframe">
        <div>here is some text <a href="{{ base_url }}/descPages/descPage00">click this?</a></div>
        <div id="main">
            <div class="container">
                {{ content }}
            </div>
            <div>
                <form method="post" action="" id="formCreatePage">
                    <input type="submit" name="addPage" value='AddPage'>
                    <input type="text" name="pageTitle" value='Your title here'>
                    <input type="text" name="srcName" value='Name of source file to show'>
                 </form>
                <textarea name="content" form="formCreatePage">write your essay here</textarea>
            </div>
        </div>
    </div>
        
    <script src="{{ theme_url }}/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/utils.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/pico.js" type="text/javascript"></script>

</body>
</html>
